@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 "Noto Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  background-color: #e5c30a;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  max-width: 45em;
  margin: 0 auto;
}

.img-flex {
  width: 100%;
  display: block;
}

.section-letter {
  width: 50%;
}

.section-icon {
  width: 50%;
}

section h2 {
  margin: 0;
  padding-right: 1em;
}

section p {
  margin: 0;
  padding-right: 1em;
}

@media only screen and (min-width: 25em) {

  .wrapper {
    max-width: 22em;
    margin: 0;
    justify-content: space-between;
    align-items: center;
  }

  section p {
    padding-right: 0;
  }

  .section-letter {
    padding: .3em .5em;
  }

  .section-icon {
    padding: .3em;
  }

}
